.slider-control__control-nav {
    z-index: 8;
    position: relative;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background-color: $theme;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    cursor: pointer;
    transition: $transition;

    &:hover {
        &:hover {
            background-color: $dark-theme;
        }
    }
}